@use '../../../master.scss' as m;

.products {
    margin-top: 30px;

    @media not all and (min-width: m.$small) {
        margin-top: 100px;
    }

    .producstContainer {
        .productsHeader {
            display: flex;
            gap: 5px;

            span {
                text-align: left;
                font: normal normal 300 20px/30px Source Sans Pro;
                letter-spacing: 0px;
                color: #707070;
                opacity: 1;
            }
        }

        .productList {
            gap: 30px 30px;

            @media screen and (min-width: m.$xsmall) {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
            }

            @media screen and (min-width: m.$small) {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
            }

            @media screen and (min-width: m.$large) {
                display: grid;
                grid-template-columns: repeat(5, 1fr);
            }

            flex-wrap: wrap;
            margin-top: 25px;

        }
    }
}