@use '../../../master.scss' as m;


.subHeader {
    display: flex;
    align-items: center;
    height: 74px;
    position: relative;
    width: 100%;

    @media not all and (min-width: m.$xsmall) {
        opacity: 0;
    }

    &>div {
        z-index: 1;
        height: 100%;
        display: flex;
        align-items: center;

        &>h1 {
            text-align: left;
            font-family: 'Source Sans Pro', sans-serif;

            letter-spacing: 0px;
            color: #FFFFFF;
            opacity: 1;
            display: none;

            @media screen and (min-width:m.$xsmall) {
                display: initial;
            }

        }
    }

    &>img {
        height: 100%;
        position: absolute;
        width: 100%;
        min-height: 44px;
    }
}

.header {

    padding: 10px;

    @media screen and (min-width: m.$xsmall) {
        height: 90px;
        align-items: center;
        display: flex;
        width: 100%;
        padding: initial;
    }
}