@use '../../../master.scss' as m;

.discountContainer {

    padding-top: 30px;
    margin-top: 30px;
    padding-bottom: 105px;
    border-style: solid;
    border-width: 0px;
    border-top-width: 2px;

    border-color: #EDF1F2;

    .discountStyles {
        flex-wrap: wrap;
        gap: 20px;

        &>:nth-child(1),
        >:nth-child(2),
        >:nth-child(3) {
            padding: 10px;
            border-radius: 10px;

            gap: 35px;
            align-items: center;

            @media screen and (min-width: m.$xsmall) {
                display: flex;
            }

            img {
                height: 133px;
                width: 167px;
            }

            &>div {
                display: flex;
                flex-direction: column;
                gap: 10px;

                &>span {
                    font: normal normal normal 16px/20px Source Sans Pro;
                    letter-spacing: 0px;
                    color: #000000;

                }

                &>button {
                    width: fit-content;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: #FFFFFF 0% 0% no-repeat padding-box;
                    border-radius: 15px;

                    &>span {
                        font: normal normal 600 13px/30px Source Sans Pro;
                        letter-spacing: 0px;
                        color: #E64E41;
                        text-align: center;
                    }
                }
            }
        }

        &>:nth-child(1) {
            background: #FFEAE8 0% 0% no-repeat padding-box;
        }

        &>:nth-child(2) {
            background: #E8F1FF 0% 0% no-repeat padding-box;

        }

        &>:nth-child(3) {
            background: #E2F7E1 0% 0% no-repeat padding-box;
        }

        @media screen and (min-width: m.$small) {
            columns: 1;
            display: grid;
            grid-template-columns: repeat(1, 1fr);
        }

        @media screen and (min-width: m.$large) {
            columns: 3;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }
    }
}